:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #a9b8c7;
  background-color: #1b2b3b;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: #b0bebc;
  text-align: center;
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

body {
background-image: url("https://pics.craiyon.com/2023-09-14/9962edd0422d448fb2948f5e9010f7f3.webp");
background-position: center;
background-size: cover;
}